.advantages-item__advantage-order::before {
  margin-bottom: 17px;
  display: block;
  counter-increment: advantage;
  content: "— №"counter(advantage) "—";
}

.advantages-item--divided {
  position: relative;
}

.advantages-item--divided:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 18px;
  bottom: 0;
  width: 284px;
  height: 1px;
  background-color: rgba(214, 214, 214, 1);

  @media (min-width: @tablet-width) {
    display: none;
  }
}


.advantages-item__wrapper {
  padding: 39px 20px 35px 20px;

  @media (min-width: @tablet-width) {
    padding: 41px 32px 43px 32px;
  }

  @media (min-width: @desktop-width) {
    padding: 47px 58px 56px 58px;
  }
}

.advantages-item__wrapper--reverse {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.advantages-item__title {
  margin: 0 0 11px 0;
}

.advantages-item__title br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.advantages-item__description {
  margin: 0;
}

.advantages-item__mobile-br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.advantages-item__tablet-br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages-item__desktop-br {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantages-item__illustration {
  display: block;

  @media (min-width: @tablet-width) {
    width: 512px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.advantages-item__advantages-sub-list {
  padding: 23px 20px 52px 20px;

  @media (min-width: @tablet-width) {
    padding: 53px 31px 59px 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 63px 78px 80px 58px;
  }
}
