.advantages-item__advantage-order::before {
  margin-bottom: 16px;
  display: block;
  counter-increment: advantage;
  content: "— №"counter(advantage) "—";

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
  }
}

.advantages-item--divided {
  position: relative;
}

.advantages-item--divided:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 18px;
  bottom: 0;
  width: 284px;
  height: 1px;
  background-color: rgba(214, 214, 214, 1);

  @media (min-width: @tablet-width) {
    display: none;
  }
}


.advantages-item__wrapper {
  padding: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 32px 0 32px;
    min-height: 256px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 58px 0 58px;
  }
}

.advantages-item__wrapper--reverse {
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    order: 2;
    padding-bottom: 0;
  }
}

.advantages-item__wrapper--modified {
  padding: 10px 20px 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 20px 0 20px;
  }
}

.advantages-item__title {
  padding-top: 20px;
  margin: 0 0 11px 0;

  @media (min-width: @tablet-width) {
    padding-top: 10px;
    max-width: 150px;
    margin: 0 auto 11px auto;
  }
}

.advantages-item__description {
  margin: 0;
  padding-bottom: 20px;
}

.advantages-item__description--desktop {
  @media (min-width: @desktop-width) {
    max-width: 230px;
    margin: 0 auto;
  }
}

.advantages-item__description--modified {
  max-width: 250px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 180px;
  }

  @media (min-width: @desktop-width) {
    max-width: 290px;
  }
}

.advantages-item__description--modified-width {
  @media (min-width: @tablet-width) {
    max-width: 140px;
  }

  @media (min-width: @desktop-width) {
    max-width: 270px;
  }
}

.advantages-item__illustration {
  display: block;


  @media (min-width: @tablet-width) {
    width: 512px;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.advantages-item__advantages-sub-list {
  padding: 0 20px 52px 20px;

  @media (min-width: @tablet-width) {
    padding: 0 31px 0 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 78px 0 58px;
  }
}
