.copyright {
  text-align: center;
}

.copyright__wrapper {
  margin: 0 auto;
  padding: 0 96px 29px 80px;
  display: flex;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.copyright__text {
  margin: 0 13px 0 0;
  align-self: center;
}

.copyright__link {
  position: relative;
  display: block;
  width: 30px;
  height: 35px;
  padding: 20px;
  box-sizing: border-box;
}

.copyright__logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
