.copyright {
  text-align: center;
}

.copyright__wrapper {
  margin: 0 auto;
  padding-right: 96px;
  padding-left: 80px;
  display: flex;
}

.copyright__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.copyright__link {
  display: block;
}
