.copyright {
  text-align: center;
}

.copyright__wrapper {
  margin: 0 auto;
  padding-right: 96px;
  padding-left: 80px;
  display: flex;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.copyright__link {
  display: block;
}
