.gallery-item {
  position: relative;
}

.gallery-item::before,
.gallery-item:last-child::after {
  content: "";
  position: absolute;
  left: -20px;
  width: 320px;
  height: 1px;
  background-color: #e7e5e5;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.gallery-item::before {
  top: 0;
}

.gallery-item:last-child::after {
  bottom: 0;
}


.gallery-item__link-photo {
  text-decoration: none;
}

.gallery-item__user-photo {
  display: block;
  margin-bottom: 15px;
}

.gallery-item__title {
  margin: 0;
  font-size: 14px;
  color: #000000;
}

.gallery-item__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.gallery-item__name-container {
  padding-bottom: 11px;
}

.gallery-item__likes-container {
  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}

.gallery-item__name {
  text-transform: none;
  color: @black-basic;
}

.gallery-item__name--icon {
  margin-right: 10px;
  color: fade(#000000, 30%);
}

.gallery-item__value {
  text-transform: none;
  color: @black-basic;
}

.gallery-item__value--likes {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

