.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  width: 45px;
  height: 45px;
  background-color: @white;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__wrapper {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 768px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    width: 100%;
    display: flex;
  }
}
