.main-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.main-footer__hashtag {
  padding: 39px 0 34px 0;
  text-align: center;
}

.main-footer__hashtag-text {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.main-footer__social {
  @media (min-width: @tablet-width) {
    min-width: 156px;
  }
}
