.map-section {
  margin-bottom: 10px;
  display: block;
  border: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 768px;
    height: 350px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}
