.user-details-set {
  position: relative;
  margin: 0;
  padding: 24px 0 39px 0;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 24px 44px 15px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 24px 50px 15px 0;
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      top: 24px;
      right: -14px;
      width: 1px;
      height: 338px;
      background-color: #dbdbdb;
    }
  }
}

.user-details-set__wrapper {
  display: flex;
  flex-direction: column;
}

.user-details-set__legend {
  margin: 0 0 20px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
    position: relative;
    left: 19px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 28px;
    position: relative;
    left: 29px;
  }
}

.user-details-set__label {
  padding-left: 16px;
  color: @black-basic;
}

.user-details-set__field {
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus,
  &:active {
    background-color: @white;
    box-shadow: inset 4px 4px #e5e5e5,
      inset -4px -4px #e5e5e5;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}
