.video-presentation__wrapper {
  padding: 0 20px 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 0 40px 0;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 84px 0;
  }
}

.video-presentation__header {
  padding: 20px 6px 38px 8px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 58px 0 90px 0;
    margin: 0 auto;
    width: 445px;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 0 88px 0;
  }
}

.video-presentation__intro {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.video-presentation__catchphrase {
  margin: 0;
  color: @black-basic;
}
