.welcome-section-short {
  background-image: url("../img/welcome-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.welcome-section-short__wrapper {
  margin: 0 auto;
  padding: 52px 46px 67px 45px;
  display: flex;
}

.welcome-section-short__image {
  display: block;
}
